*{
    margin: 0;
    padding: 0;
}
#heading{
    /*position: fixed;*/
    display: block;
    background: #1d1d1d;
    width: 100%;
    height: 70px;
    z-index: 9;
}
#heading a{
    font-family: 'Open Sans', sans-serif;
    padding: 18px 20px;
    margin: 0 20px;
    background: transparent;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
    transition: 0.4s;
}
#heading-left{
    float: left;
    display: flex;
    margin-left: 150px;
}
#heading-left a:hover{
    transform: scale(0.95);
}
#heading-right{
    float: right;
    display: flex;
    margin-right: 150px;
}
#heading-right a{
    color: goldenrod;
}
#heading-right a:hover{
    color: darkgoldenrod;
    margin-top: 6px;
}
#hidden-nav{
    margin-top: 70px;
    right: 0;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-gap: 10%;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    background: #1d1d1d;
    overflow-y: auto;
    transition: 0.6s;
    color: white;
}
#hidden-nav h2{
    font-family: 'Playfair Display', serif;
}
#hidden-nav p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}
#left-nav{
    margin: 0 10%;
}
#left-nav a{
    display: block;
    padding: 20px 0;
    transition: 0.6s;
}
#left-nav a:hover{
    color: darkgray;
    margin-left: 30px;
}
#left-nav input{
    font-size: 1.6rem;
    color: whitesmoke;
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    background: transparent;
    border: hidden;
    border-bottom: 1px white solid;
    outline: none;
}
#right-nav{
    background-image: url("../image/home/right-nav-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hidden-cart{
    display: none;
}
#blank-cart{
    background: black;
    height: 10000px;
    width: 10000px;
    position: absolute;
    opacity: 0.6;
}
#table-cart{
    z-index: 9;
    left: 50%;
    transform: translate(-50%);
    display: block;
    position: absolute;
    width: 450px;
    height: 753px;
    max-height: 753px;
    background: white;
    overflow-y: auto;
    opacity: 1 !important;
}
#cart-1{
    font-family: 'Open Sans', sans-serif;
    margin: 25px;
    overflow: hidden;
}
#cart-1 p{
    font-size: 1.6rem;
    float: left;
}
#cart-1 i{
    font-size: 1.6rem;
    height: 10%;
    float: right;
}
#cart-1 i:hover{
    cursor: pointer;
}
#cart-2{
    height: 65%;
    background: whitesmoke;
}
#cart-3{
    height: 20%;
}
#cart-3 a{
    display: block;
    text-align: center;
    padding: 7px;
    margin: 8px 20px;
}
#cart-3 a:hover{
    opacity: 0.8;
}
#paypal a{
    background: #393939;
}
#apple-pay a{
    background: black;
}
#check-out a{
    background: goldenrod;
}
@media only screen and (max-width: 1000px) {
    #heading a{
        margin: 0;
    }
    #heading-left{
        margin: 0;
    }
    #heading-right{
        margin: 0;
    }
    #left-nav{
        display: block;
        width: 160%;
    }
    #right-nav{
        display: none;
    }
}