#background-heading{
    padding: 400px 0;
    background-image: url("../image/home/head-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#font-style{
    font-family: 'Playfair Display', serif;
}
#first-body{
    padding: 0 20%;
    overflow: hidden;
}
#box-one{
    display: grid;
    grid-template-columns: 40% 60%;
}
#box-one-image{
    position: relative;
}
#box-one-text{
    background: white;
    padding: 40px 40px;
    font-size: 4rem;
    margin: -60% 45% 20% 0;
    position: relative;
}
#box-two{
    display: grid;
    grid-template-columns: 75% 25%;
}
#box-two-image{
    position: relative;
}
#box-two-text{
    padding: 50px;
    background: white;
    margin: -60% 0 7% 55%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.list{
    font-size: 1.8rem;
    font-weight: bold;
}
.list-text{
    font-size: 1rem;
}
#second-body{
    margin-top: 180px;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
    overflow: hidden;
}
#second-body-text{
    padding: 0 80px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    opacity: 0.8;
    font-size: 3.5rem;
}
#second-body-video{
    position: center;
}
#our-product{
    padding: 0 13%;
}
#title{
    padding: 80px 0;
    text-align: center;
    font-size: 1.8rem;
    overflow: hidden;
}
#product-placement{
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2%;
}
.our-placement{
    border: 1px whitesmoke solid;
    background: whitesmoke;
    display: block;
    overflow: hidden;
}
.our-placement h4{
    padding: 10px 5% 0;
}
.our-placement p{
    font-family: 'Open Sans', sans-serif !important;
    padding: 0 5%;
}
.product-image{
    overflow: hidden;
    height: 350px;
}
.product-image img{
    transition: 0.4s;
}
.product-image img:hover{
    transform: scale(1.1);
}
.product-info{
    height: 85px;
    position: relative;
}
#policy{
    font-size: 2.3rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 5%;
    margin-bottom: 200px;
}
#policy p{
    padding: 20%;
    border-right: 1px lightgray solid;
}
#final-policy{
    border-right: none !important;
}
#third-body{
    padding: 0 13%;
    margin-bottom: 100px;
    height: 800px;
    overflow: hidden;
}
#third-body-image{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
}
#third-body-text{
    margin: -650px 500px 0 300px;
    padding: 80px;
    background: white;
    position: absolute;
    height: 300px;
    overflow: hidden;
}
#third-body-text h4{
    margin-bottom: 40px;
    font-size: 1.8rem;
}
#third-body-text p{
    font-family: 'Open Sans', sans-serif !important;
}
#third-body-text h1{
    padding: 10px;
    background: none;
    border: none;
    position: absolute;
    bottom: 40px;
    right: 60px;
    transition: 0.4s;
}
#third-body-text h1:hover{
    cursor: pointer;
    right: 53px;
}
#first-line{
    font-weight: bold;
}
#blogs{
    background: whitesmoke;
    padding-bottom: 120px;
}
#blogs-top{
    padding: 60px;
    text-align: center;
    overflow: hidden;
}
#blogs-top p{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.2rem;
}
#blogs-top h2{
    font-family: 'Merriweather', serif !important;
    font-size: 2.5rem;
}
#blogs-libs{
    padding: 0 13%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
}
#blogs-libs a{
    color: #393939;
    text-decoration: none;
}
#blogs-libs a:hover{
    color: black;
    opacity: 0.6;
}
.blog-hidden{
    font-size: 1.4rem;
    margin-top: 25%;
    font-weight: bold;
    text-decoration: underline;
    opacity: 0;
    transition: 0.6s;
}
.libs{
    text-align: center;
    padding: 80px 5% 240px;
    overflow: hidden;
    height: 200px;
}
.libs h2{
    font-family: 'Merriweather', serif; !important;
    font-weight: bold;
    transition: 0.6s;
}
.libs p{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
    transition: 0.6s;
}
#first-libs{
    background-image: url("../image/home/blog-image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.6s;
}
#second-libs{
    background-image: url("../image/home/blog-image-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.6s;
}
#third-libs{
    background-image: url("../image/home/blog-image-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.6s;
}
@media only screen and (max-width: 1000px){
    #first-body{
        padding: 0 5%;
        max-width: 100%;
    }
    #box-one{
        display: block;
    }
    #box-one-text{
        margin: 0;
    }
    #box-two{
        display: block;
    }
    #box-two-text{
        display: block;
        width: 70%;
        margin: 0 55px 0 0;
    }
    #second-body{
        display: block;
        margin: 0;
    }
    #product-placement{
        grid-template-columns: auto auto;
    }
    #policy{
        grid-template-columns: 50% 50%;
    }
    #third-body{
        display: block;
    }
    #third-body-text{
        margin: 0;
        position: relative;
    }
    #third-body-text h1{
        display: none;
    }
    #blogs-libs{
        grid-template-columns: 50% 50%;
    }
    .libs{
        height: 100px;
    }
}
@media only screen and (max-width: 600px){
    #first-body{
        padding: 0;
        width: 100%;
    }
    #box-two-text{
        margin: 0 100px 0 0;
    }
    #product-placement{
        grid-template-columns: auto;
    }
    #policy{
        display: block;
    }
    #policy p{
        border: 1px whitesmoke solid;
    }
    #third-body{
        display: block;
    }
    #third-body-text{
        margin: 0;
        display: block;
        position: relative;
    }
    #blogs-libs{
        grid-template-columns: 100%;
    }
}