<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">

    <%- include('stylesheet_about')%>

</head>
<body>

<header>
    <nav id="heading">
        <div id="heading-left">
            <a href="/home">Webmaster</a>
        </div>
        <div id="heading-right">
            <a onclick="toggleNav()"><i class="fas fa-bars"></i></a>
            <a onclick="openCart()"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div id="hidden-nav">
            <div id="left-nav">
                <a href="/about" class="nav-list">
                    <h2>About us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <a href="/shop" class="nav-list">
                    <h2>Shop</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <a href="#" class="nav-list">
                    <h2>Blog</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <a href="#" class="nav-list">
                    <h2>Contact us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <form class="nav-list">
                    <input type="text" placeholder="Search..">
                    <p style="font-size: 0.8rem"><b>© Copyright 2021 Webmaster | All rights reserved.</b></p>
                </form>
            </div>
            <div id="right-nav"></div>
        </div>
        <div id="hidden-cart">
            <div id="blank-cart"></div>
            <div id="table-cart">
                <div id="cart-1">
                    <p>Webmaster</p>
                    <i class="fas fa-times" onclick="closeCart()"></i>
                </div>
                <div id="cart-2">

                </div>
                <div id="cart-3">
                    <div id="paypal">
                        <a href="#"><i class="fab fa-paypal"></i> PayPal</a>
                    </div>
                    <div id="apple-pay">
                        <a href="#"><i class="fab fa-apple-pay"></i></a>
                    </div>
                    <div id="check-out">
                        <a href="#">Continue to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div id="about-us" class="section-about">

    <div class="section-about_ceo">
        <div id="about" class="about">
            <div data-aos="fade-up" class="about-image"></div>

            <div data-aos="fade-down" class="about-text">
                <h2 data-aos="fade-up" data-aos-delay="200" class="about-text_h2">
                    WHY NOT ?
                </h2>
                <p data-aos="fade-up" data-aos-delay="300" class="about-text_p">
                    "That was our question when we started. And we choose cosmetics - an indispensable accessory product, a
                    companion to always stand by and inspiration for young Vietnamese on their journey to reach their dreams.
                    After the first success, we are now proud that our products have gone hand in hand with the ladies."
                </p>
            </div>
        </div>
    </div>


    <div class="section-about_product">


        <div id="product">

            <div data-aos="fade-down" class="about-product">
                <h2 data-aos="fade-up" data-aos-delay="200" class="about-text_h2">
                    MISSION
                </h2>
                <p data-aos="fade-up" data-aos-delay="300" class="about-text_p">
                    "The customer file that we aim for is the young generation,
                    they respect brand values. With belief in the strength of Vietnamese youth, we bring inspirational spiritual symbols and products.
                    to help them express themselves, to confidently explore their own potentials and values. "
                </p>
            </div>
            <div data-aos="fade-left" class="layout-grid_2 product-image"></div>

        </div>


        <div class="section-about_element">

            <div data-aos="fade-down" id="element">

                <div data-aos="fade-up" class="layout-grid_3 element-image"></div>
                <div data-aos="fade-down" class="about-element">
                    <h2 data-aos="fade-up" data-aos-delay="200" class="element-text_h2">
                        Product
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="300" class="element-text_p">
                        With the motto "Start with the customer, end with the customer", each of our products is
                        researched based on the needs that customers want, designed with the heart full of enthusiasm,
                        desire and block. the creative mindset of the team of young Vietnamese. affirms that we have the ability to
                        develop products that reach out to the world.
                        Why not?
                    </p>
                </div>

            </div>

        </div>



    </div>

</div>



<script src="js/header.js"></script>
<script src="support/aos-master/aos.js"></script>
<script>
    AOS.init({
        duration: 1000,
        offset: 220,
    });
</script>
</body>
</html>