<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
<!--    <link rel="stylesheet" href="support/bootstrap/css/bootstrap.css">-->
<!--    &lt;!&ndash;    <link rel="stylesheet" href="support/jquery/jquery-3.5.1.min.js">&ndash;&gt;-->
<!--    <link rel="stylesheet" href="support/fon-awesome/css/all.css">-->
<!--    <link rel="stylesheet" href="css/checkout.css">-->
<!--    <link rel="stylesheet" href="css/header.css">-->
<!--    <link rel="stylesheet" href="css/footer.css">-->
    <%-include('stylesheet_checkout')%>

</head>
<body>
<header>
    <nav id="heading">
        <div id="heading-left">
            <a href="home.ejs">Webmaster</a>
        </div>
        <div id="heading-right">
            <a onclick="toggleNav()"><i class="fas fa-plus"></i></a>
            <a onclick="openCart()"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div id="hidden-nav">
            <div id="left-nav">
                <a href="about.ejs" class="nav-list">
                    <h2>About us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <a href="#" class="nav-list">
                    <h2>Shop</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <a href="#" class="nav-list">
                    <h2>Blog</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <a href="#" class="nav-list">
                    <h2>Contact us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <form class="nav-list">
                    <input type="text" placeholder="Search..">
                    <p style="font-size: 0.8rem"><b>© Copyright 2021 Webmaster | All rights reserved.</b></p>
                </form>
            </div>
            <div id="right-nav"></div>
        </div>
        <div id="hidden-cart">
            <div id="blank-cart"></div>
            <div id="table-cart">
                <div id="cart-1">
                    <p>Webmaster</p>
                    <i class="fas fa-times" onclick="closeCart()"></i>
                </div>
                <div id="cart-2">

                </div>
                <div id="cart-3">
                    <div id="paypal">
                        <a href="#"><i class="fab fa-paypal"></i> PayPal</a>
                    </div>
                    <div id="apple-pay">
                        <a href="#"><i class="fab fa-apple-pay"></i></a>
                    </div>
                    <div id="check-out">
                        <a href="#">Continue to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="checkbox-full">
    <div  class="checkbox-layout container-checkbox">


        <div class="checkbox-information">
            <!--            <div class="checkbox-paypal">-->

            <div class="checkbox-button__paypal">
                <p>Paypal</p>
            </div>

            <div class="checkbox-button__apple">
                <p> <i class="fab fa-apple-pay"></i></p>
            </div>

            <form class="checkbox-customer">
                <div class="checkbox-customer__info">
                    <h4>Customer Info</h4>
                    <p>*Required</p>
                </div>

                <fieldset class="checkout-fullbox">
                    <label class="checkout">
                        Email*
                    </label>

                    <input class="input-full" type="text" name="email">
                </fieldset>
            </form>


            <!--                /*shipping address*/-->


            <form class="checkbox-ship-address">
                <div class="checkbox-customer__info">
                    <h4>Shipping Address</h4>
                    <p>*Required</p>
                </div>

                <fieldset class="checkout-fullbox">
                    <label class="checkout">
                        Full Name*
                    </label>

                    <input class="input-full" type="text" name="name">

                    <label class="checkout">
                        Street Address*
                    </label>

                    <div class="form-group__address">
                        <input type="street"
                               class="input-full"
                               id="autocomplete"
                               placeholder="Street">
                        <div class="form-address">
                            <input type="city"
                                   class="form-control"
                                   id="inputCity"
                                   placeholder="City">

                            <input type="state"
                                   class="form-control"
                                   id="inputState"
                                   placeholder="State">

                            <input type="zip"
                                   class="form-control"
                                   id="inputZip"
                                   placeholder="Zip">
                        </div>

                        <input type="country"
                               class="form-control"
                               id="inputCountry"
                               placeholder="Country">
                    </div>

                </fieldset>
            </form>


            <!--                /*payment info*/-->


            <form class="checkbox-payment-info">
                <div class="checkbox-customer__info">
                    <h4>Payment Info</h4>
                    <p>*Required</p>
                </div>

                <fieldset class="checkout-fullbox">
                    <label class="checkout">
                        Card Number*
                    </label>
                    <input class="input-full" type=" " name="number">

                    <div class="checkbox-row">
                        <div class="check-column">
                            <label class="checkout">
                                Expiration Date*
                            </label>

                            <input class="input-full" type="datetime" name="bdaytime">
                        </div>

                        <div class="check-column">
                            <label class="checkout">
                                Security Code*
                            </label>

                            <input class="input-full" type="datetime" name="bdaytime">
                        </div>
                    </div>

                </fieldset>

            </form>


            <!--                item in order-->


            <div class="checkbox-orders">
                <div class="checkbox-customer__info">
                    <h4>Items in Order</h4>
                </div>

                <fieldset class="checkout-fullbox">
                    <div class="checkbox-items">
                        <!--                            <ul class="order-items">-->
                        <!--                                <li class="order-item">-->
                        <!--                                    <span>Skin 1</span>-->

                        <!--                                    <span class="quantity">-->
                        <!--                                        <button>-</button>-->
                        <!--                                        <input type="number" value="1">-->
                        <!--                                        <button>+</button>-->
                        <!--                                    </span>-->

                        <!--                                    <span class="price">-->
                        <!--                                        <span>$ 50.00</span>-->
                        <!--                                        <button class="btn-delete">X</button>-->
                        <!--                                    </span>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                            <ul class="order-items">-->
                        <!--                                <li class="order-item">-->
                        <!--                                    <span>Skin 1</span>-->

                        <!--                                    <span class="quantity">-->
                        <!--                                        <button>-</button>-->
                        <!--                                        <input type="number" value="1">-->
                        <!--                                        <button>+</button>-->
                        <!--                                    </span>-->

                        <!--                                    <span class="price">-->
                        <!--                                        <span>$ 50.00</span>-->
                        <!--                                        <button class="btn-delete">X</button>-->
                        <!--                                    </span>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                            <ul class="order-items">-->
                        <!--                                <li class="order-item">-->
                        <!--                                    <span>Skin 1</span>-->

                        <!--                                    <span class="quantity">-->
                        <!--                                        <button>-</button>-->
                        <!--                                        <input type="number" value="1">-->
                        <!--                                        <button>+</button>-->
                        <!--                                    </span>-->

                        <!--                                    <span class="price">-->
                        <!--                                        <span>$ 50.00</span>-->
                        <!--                                        <button class="btn-delete">X</button>-->
                        <!--                                    </span>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                            <ul class="order-items">-->
                        <!--                                <li class="order-item">-->
                        <!--                                    <span>Skin 1</span>-->

                        <!--                                    <span class="quantity">-->
                        <!--                                        <button>-</button>-->
                        <!--                                        <input type="number" value="1">-->
                        <!--                                        <button>+</button>-->
                        <!--                                    </span>-->

                        <!--                                    <span class="price">-->
                        <!--                                        <span>$ 50.00</span>-->
                        <!--                                        <button class="btn-delete">X</button>-->
                        <!--                                    </span>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                    </div>


                    <button id="btn-additem">Add</button>

                </fieldset>


            </div>

        </div>

        <!--                      order sumary                   -->


        <div class="checkbox-total">
            <div class="checkbox-fixed">
                <div class="checkbox-sumary">
                    <div class="checkbox-customer__info">
                        <h4>Order Summary</h4>
                    </div>

                    <fieldset class="checkout-fullbox">
                        <div class="order-summary">
                            <p>Subtotal<span id="sub-total" class="all-money">$100.00</span></p>
                            <p>Shipping<span id="shipping" class="all-money">$2.00</span></p>
                            <a>Total<span id="total" class="all-money">$102.00</span></a>
                        </div>
                    </fieldset>

                </div>

                <button id="btn-checkout">Place Order</button>
            </div>
        </div>


    </div>

</div>

<footer>
    <nav id="ending">
        <div class="grid" id="grid-1">
            <h2>About us</h2>
            <a href="#">about us</a>
            <br>
            <a href="#">blog</a>
            <br>
            <a href="#">shop</a>
            <br>
            <a href="#">powered by Webflow</a>
            <br>
            <a href="#">created by Udesly</a>
        </div>
        <div class="grid" id="grid-2">
            <h2>Support</h2>
            <a href="#">licensing</a>
            <br>
            <a href="#">privacy policy</a>
            <br>
            <a href="#">terms and condition</a>
            <br>
            <a href="#">contact us</a>
        </div>
        <div class="grid" id="grid-3">
            <h2>Social</h2>
            <a href="#"><p><i class="fab fa-facebook-square"></i></p></a>
            <a href="#"><p><i class="fab fa-youtube"></i></p></a>
            <a href="#"><p><i class="fab fa-instagram"></i></p></a>
        </div>
        <div class="grid" id="grid-4">
            <h2>Sign up now</h2>
            <p>Add more beauty to your messages! Join us to be the first to know about exclusive offers and exciting news</p>
            <form action="#">
                <input id="input-id" type="email" placeholder="enter your email" required>
                <br>
                <input id="submit-id" type="submit">
            </form>
        </div>
        <div class="grid" id="grid-5">
            <p><b>copyright 2021 - webmaster</b></p>
            <a href="#">404 page</a>
            <a href="#">password page</a>
        </div>
    </nav>
</footer>

<!--<script src="js/checkout.js"></script>-->
<script src="js/checkbox.js"></script>
<script src="js/header.js"></script>
</body>
</html>