<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webmaster</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

    <%-include('stylesheet_home')%>

</head>
<body>

<header>
    <nav id="heading">
        <div id="heading-left">
            <a href="/home">Webmaster</a>
        </div>
        <div id="heading-right">
            <a onclick="toggleNav()"><i class="fas fa-plus"></i></a>
            <a onclick="openCart()"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div id="hidden-nav">
            <div id="left-nav">
                <a href="/about" class="nav-list">
                    <h2>About us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <a href="/shop" class="nav-list">
                    <h2>Shop</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <a href="#" class="nav-list">
                    <h2>Blog</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <a href="#" class="nav-list">
                    <h2>Contact us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </a>
                <form class="nav-list">
                    <input type="text" placeholder="Search..">
                    <p style="font-size: 0.8rem"><b>© Copyright 2021 Webmaster | All rights reserved.</b></p>
                </form>
            </div>
            <div id="right-nav"></div>
        </div>
        <div id="hidden-cart">
            <div id="blank-cart"></div>
            <div id="table-cart">
                <div id="cart-1">
                    <p>Webmaster</p>
                    <i class="fas fa-times" onclick="closeCart()"></i>
                </div>
                <div id="cart-2">

                </div>
                <div id="cart-3">
                    <div id="paypal">
                        <a href="#"><i class="fab fa-paypal"></i> PayPal</a>
                    </div>
                    <div id="apple-pay">
                        <a href="#"><i class="fab fa-apple-pay"></i></a>
                    </div>
                    <div id="check-out">
                        <a href="#">Continue to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<section>
    <nav>
        <div id="blank"></div>
        <div id="background-heading"></div>
    </nav>
    <nav id="font-style">
        <nav>
            <div id="first-body">
                <div>
                    <div id="box-one">
                        <div class="box-blank"></div>
                        <div data-aos="fade-up" id="box-one-image">
                            <img src="imgs/home/body-1st-image.jpg" height="100%" width="100%"/>
                        </div>
                    </div>
                    <div data-aos="fade-right" id="box-one-text">
                        <p>We take care of your skin</p>
                    </div>
                </div>
                <div>
                    <div id="box-two">
                        <div data-aos="fade-up" id="box-two-image">
                            <img src="imgs/home/body-2nd-image.jpg" height="100%" width="100%"/>
                        </div>
                        <div class="box-blank"></div>
                    </div>
                    <div data-aos="fade-left" id="box-two-text">
                        <p data-aos="fade-left" data-aos-delay="100" class="list">Normal Skin</p>
                        <p data-aos="fade-left" data-aos-delay="200" class="list-text">Maintain balance and achieve
                            glowing skin</p>
                        <p data-aos="fade-left" data-aos-delay="300" class="list">Dry Skin</p>
                        <p data-aos="fade-left" data-aos-delay="450" class="list-text">A magic touch to keep your skin
                            smooth and supple</p>
                        <p data-aos="fade-left" data-aos-delay="500" class="list">Extra-Dry</p>
                        <p data-aos="fade-left" data-aos-delay="600" class="list-text">Extra-dry treatment for your skin</p>
                    </div>
                </div>
            </div>
            <div id="second-body" >
                <div data-aos="fade-up-right" id="second-body-text">
                    <p>A daily skincare routine for every skin type</p>
                </div>
                <div data-aos="fade-up-left" id="second-body-video">
                    <video height="100%" width="100%" autoplay loop muted>
                        <source src="imgs/home/body-video.mp4">
                    </video>
                </div>
            </div>
        </nav>
        <nav id="our-product">
            <div id="title">
                <p data-aos="fade-right">A wellness treatment for your skin</p>
                <p style="font-size: 2.2rem" data-aos="fade-left"><b>Webmaster</b></p>
            </div>
            <div id="product-placement">
                <div class="our-placement" href="/cart">
                    <div class="product-image">
                        <a href="/shop"><img src="imgs/home/product-placement-1.jpg" height="100%" width="100%"></a>
                    </div>
                    <div class="product-info">
                        <h4>Apple Seed Cleansing Cream</h4>
                        <p>$40.00 USD</p>
                    </div>
                </div>
                <div class="our-placement" >
                    <div class="product-image">
                        <a href="/shop"><img src="imgs/home/product-placement-2.jpg" height="100%" width="100%"></a>
                    </div>
                    <div class="product-info">
                        <h4>Super Volcanic Pore Clay Mask</h4>
                        <p>$50.00 USD</p>
                    </div>
                </div>
                <div class="our-placement">
                    <div class="product-image">
                        <a href="#"><img src="imgs/home/product-placement-3.jpg" height="100%" width="100%"></a>
                    </div>
                    <div class="product-info">
                        <h4>Green Tea Cleansing Skin</h4>
                        <p>$25.00 USD</p>
                    </div>
                </div>
                <div class="our-placement">
                    <div class="product-image">
                        <a href="#"><img src="imgs/home/product-placement-4.jpg" height="100%" width="100%"></a>
                    </div>
                    <div class="product-info">
                        <h4>Green Tea Balancing Skin</h4>
                        <p>$40.00 USD</p>
                    </div>
                </div>
                <div class="our-placement">
                    <div class="product-image">
                        <a href="#"><img src="imgs/home/product-placement-5.jpg" height="100%" width="100%"></a>
                    </div>
                    <div class="product-info">
                        <h4>Brightening Pore Facial Cleanser</h4>
                        <p>$35.00 USD</p>
                    </div>
                </div>
                <div class="our-placement">
                    <div class="product-image">
                        <a href="#"><img src="imgs/home/product-placement-6.jpg" height="100%" width="100%"></a>
                    </div>
                    <div class="product-info">
                        <h4>Lava Seawater Ampoule Skin</h4>
                        <p>$30.00 USD</p>
                    </div>
                </div>
            </div>
        </nav>
        <nav id="policy">
            <div data-aos="fade-up">
                <p><b>Happy shopping with free returns</b></p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200">
                <p><b>Free shipping on orders $59+</b></p>
            </div>
            <div data-aos="fade-up" data-aos-delay="400">
                <p><b>Quality 24h customer service</b></p>
            </div>
            <div data-aos="fade-up" data-aos-delay="600">
                <p id="final-policy"><b>Free gift box for special occasions</b></p>
            </div>
        </nav>
        <nav id="third-body">
            <div id="third-body-image">
                <div data-aos="fade-right">
                    <img src="imgs/home/body-3rd-image.jpg" height="100%" width="100%" id="image-one"/>
                </div>
                <div data-aos="fade-left">
                    <img src="imgs/home/body-4th-image.jpg" height="100%" width="100%" id="image-two">
                </div>
            </div>
            <div data-aos="fade-up" id="third-body-text">
                <h4 data-aos="fade-up" data-aos-delay="200" id="first-line">Thought for maximum results without
                    irritation</h4>
                <p data-aos="fade-up" data-aos-delay="400" id="second-line">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                <p data-aos="fade-up" data-aos-delay="600" id="third-line">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Suspendisse varius enim in eros elementum tristique.</p>
                <h1 data-aos="fade-right" onclick="thirdBody()"><i class="fas fa-chevron-right"></i></h1>
            </div>
            <script>

            </script>
        </nav>
        <nav id="blogs">
            <div id="blogs-top">
                <p data-aos="fade-right">BEAUTY NEWS AND TOPS</p>
                <h2 data-aos="fade-left"><b>Latest Posts & Updates</b></h2>
            </div>
            <div id="blogs-libs">
                <a href="#" class="libs" id="first-libs" onmouseover="blogHover1()" onmouseout="blogNormal1()">
                    <h2 id="blog-text-1" class="blog-text">Look younger, longer</h2>
                    <p>February 5, 2021</p>
                    <p id="blog-hidden-1" class="blog-hidden">VIEW MORE</p>
                </a>
                <a href="#" class="libs" id="second-libs" onmouseover="blogHover2()" onmouseout="blogNormal2()">
                    <h2 id="blog-text-2" class="blog-text">Visionnaire skin solutions</h2>
                    <p>February 5, 2021</p>
                    <p id="blog-hidden-2" class="blog-hidden">VIEW MORE</p>
                </a>
                <a href="#" class="libs" id="third-libs" onmouseover="blogHover3()" onmouseout="blogNormal3()">
                    <h2 id="blog-text-3" class="blog-text">Addicted tio freshness</h2>
                    <p>February 5, 2021</p>
                    <p id="blog-hidden-3" class="blog-hidden">VIEW MORE</p>
                </a>
            </div>
            <script>

            </script>
        </nav>
    </nav>
</section>

<footer>
    <nav id="ending">
        <div class="grid" id="grid-1">
            <h2>About us</h2>
            <a href="#">about us</a>
            <br>
            <a href="#">blog</a>
            <br>
            <a href="#">shop</a>
            <br>
            <a href="#">powered by Webflow</a>
            <br>
            <a href="#">created by Udesly</a>
        </div>
        <div class="grid" id="grid-2">
            <h2>Support</h2>
            <a href="#">licensing</a>
            <br>
            <a href="#">privacy policy</a>
            <br>
            <a href="#">terms and condition</a>
            <br>
            <a href="#">contact us</a>
        </div>
        <div class="grid" id="grid-3">
            <h2>Social</h2>
            <a href="#"><p><i class="fab fa-facebook-square"></i></p></a>
            <a href="#"><p><i class="fab fa-youtube"></i></p></a>
            <a href="#"><p><i class="fab fa-instagram"></i></p></a>
        </div>
        <div class="grid" id="grid-4">
            <h2>Sign up now</h2>
            <p>Add more beauty to your messages! Join us to be the first to know about exclusive offers and exciting news</p>
            <form action="#">
                <input id="input-id" type="email" placeholder="enter your email" required>
                <br>
                <input id="submit-id" type="submit">
            </form>
        </div>
        <div class="grid" id="grid-5">
            <p><b>copyright 2021 - webmaster</b></p>
            <a href="#">404 page</a>
            <a href="#">password page</a>
        </div>
    </nav>
</footer>



<script src="js/header.js"></script>
<script src="js/home.js"></script>
<script src="support/aos-master/aos.js"></script>
<script>
    AOS.init({
        duration: 1000,
        offset: 220,
    });
</script>

</body>
</html>