<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <%-include('stylesheet')%>
</head>
<body>
<div class="container">
    <div class="form-container">
        <div class="signin-signup">

            <form action="" class="sign-up-form">
                <h2 class="tittle">Sign up</h2>


                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username">
                </div>

                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email">
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>

                <input type="submit" value="Sign up" class="btn solid">

                <p class="social-text">Or sign up with social platforms</p>

                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>

                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>


                    <a href="#"  class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>


                    <a href="#" class="social-icon">
                        <i class="fab fa-youtube"></i>
                    </a>

                </div>
            </form>
        </div>
    </div>



    <div class="panel right-panel">
        <div class="content">
            <h3>One of us?</h3>
            <p>Đây là nơi đăng nhập tài khoản thông tin cá nhân của bạn</p>

            <button  class="btn transparent" id="sign-in-btn"><a href="signin.html">Sign in</a></button>
        </div>

        <img src="image/cart/undraw_makeup_artist_rxn8.svg" class="image" alt="">
    </div>
</div>

<script src="js/cart.js"></script>
</body>
</html>