*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-about{
    position: relative;
    width: 100%;
    padding-top: 70px;
}

.about{

    column-gap: 0px;
    grid-template-columns: 1.5fr 1.5fr;
    display: flex;
}
.about-image{
    width: 100%;
    height: 724px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    /*url("../public/anh-bia.jpg");*/
    url("../imgs/cart/anh-bia.jpg");
    background-size:  cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;

}
.about-text{
    display: flex;
    width: 50%;
    padding-right: 35px;
    padding-left: 35px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(66, 61, 63);
}

.about-text_h2{
    color: white;
    font-size: 40px;
    line-height: 1.2;
}
h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'Akaya Telivigala', cursive;
}
.about-text_p{
    margin-top: 20px;
    color: white;
}
.p{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    font-family: 'Akaya Telivigala', cursive;
}
/*product*/


.section-about_product{
    position: relative;
    margin-top: 0vh;
}
#product{
    position: static;
    inset: 0px 0%;
    column-gap: 0px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    display: flex;
    height: 724px;
}
.about-product{
    position: static;
    display: flex;
    width: 50%;
    height: 724px;
    padding-right: 35px;
    padding-left: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
}
.about-text_h2{
    color: black;
    font-size: 40px;
    line-height: 1.2;
}
.about-text_p{
    margin-top: 20px;
    color: black;
}
.product-image{
    width: 100%;
    height: 724px;
    background-image: url("../imgs/cart/anh-bia-2.jpg");
    background-position: 30% 40%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

/*element*/
.section-about_element{
    position: relative;
}
#element{
    position: sticky;
    display: flex;
    column-gap: 0px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
}

.about-element{
    position: sticky;
    display: flex;
    width: 50%;
    padding-right: 35px;
    padding-left: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(185, 167, 158);
    height: 724px;
}
.element-image{
    width: 100%;
    height: 724px;
    background-image: url("../imgs/cart/image1.jpg");
    background-position: 50% 50%;
    background-size:  cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}


