*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.background-container{
    width: 100%;
    background-color: rgb(238, 234, 234);
    display: flex;
    flex-direction: column;
    padding-top:72px;
}
.container-group{
    margin-top: 12px;
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    padding: 15px;
}
/*image*/
.image-control{
    float: left;
    display: flex;
}
ul ,#image-main{
    float: left;
}
ul li{
    list-style: none;
}
ul li img{
    width: 95px;
    height: 95px;
    cursor: pointer;
    margin-left: 4px;
    margin-top: 10px;
    margin-right: 8px;
}
#image-main{
    width: 450px;
}
#image-main img{
    width: 100%;
    max-height: 450px;
}

/*text*/
.container-text{
    float: left;
    width: 40%;
}
.container-text{
    width: 500px;
}
.content-text{
    width: 500px;
}

.container-text .header{
    padding: 12px 0 20px;
    position: relative;
}
.header .brand{
    display: flex;

}
.header .brand .brand-and-author{
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
}
.header h6{
    color: rgb(36, 36, 36);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.header h6 a{
    font-size: 13px;
    line-height: 20px;
    color: rgb(13, 92, 182);
    text-decoration: none;
}
.brand-style {
    position: absolute;
    right: -8px;
    display: flex;
    top: 52%;
    transform: translate(20px, -50%);
}
.brand-style .icon-wrap{
    width: 40px;
    height: 40px;
    border-radius: 22px;
    box-shadow: 0px 2px 4px 0px #949494;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-left: 12px;
    cursor: pointer;
    background: white;
}
.brand-style .icon-wrap:hover{
    transition: 1s;
    background-color: #d7d5d5;
    box-shadow: 2px 2px 6px 0px #949494;
}


 .title{
    margin: 0 0 4px;
    color: rgb(36, 36, 36);
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    max-width: 615px;
}
 .indexStyle-Review{
     display: flex;
     -webkit-box-align: center;
     align-items: center;
     margin-top: 4px;
 }
 .indexStyle-Review .star__Wrapper{
     margin: 0px;
     color: rgb(255, 193, 32);
     font-size: 14px;
 }
 .star__Wrapper .number{
     cursor: pointer;
     margin: 0px 0px 0px 5px;
     color: rgb(120, 120, 120);
     font-size: 13px;
     line-height: 20px;
 }

 .body{
     padding: 0px 24px 0px 0px;
 }

 .body .product-and-icon{
     /*width: 480px;*/
     height: 112px;
     display: flex;
     flex-direction: column;
     border-radius: 4px;
     background-color: rgb(250, 250, 250);
     padding: 12px 16px;
 }
 .product-price__current-price{
     font-size: 32px;
     line-height: 40px;
     margin-right: 8px;
     font-weight: 500;
 }
 .product-price__list-price{
     margin-right: 10px;
     text-decoration: line-through;
     font-size: 13px;
     line-height: 20px;
 }
 .product-price__discount-rate{
     font-size: 13px;
     line-height: 20px;
 }
 .product-text{
     display: flex;
     flex-direction: column;
 }

 .DiliveryZone{
     width: 480px;
     padding: 16px 0px 0px;
     border-top: 1px solid rgb(241, 240, 240);
     margin: 16px 0px 0px;
 }
 .DiliveryZone .inner{
     position: relative;
     color: rgb(36, 36, 36);
     font-size: 13px;
     font-weight: 400;
     line-height: 20px;
 }
.DiliveryZone .inner span{
    color: rgb(13, 92, 182);
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.indexStyle__AddCart{
    display: flex;
    flex-direction: column;
    margin: 16px 0px 0px;
    padding: 16px 0px;
    border-top: 1px solid rgb(242, 242, 242);
}
.indexStyle__AddCart .qty-and-message{
    display: flex;
    align-items: flex-end;
}
.indexStyle__AddCart .qty-and-message label{
    font-size: 15px;
    line-height: 1.5;
}
.indexStyle__AddCart .group-input{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
}
.indexStyle__AddCart .group-input button:first-child {
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    padding: 4px;
}
.indexStyle__AddCart .group-input .input-up-down {
    cursor: pointer;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 127, 127);
    height: 30px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.indexStyle__AddCart #quantity{
    width: 70px;
    height: 30px;
    border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    text-align: center;
}
.group-button .btn{
    min-width: 190px;
    width: 140%;
    max-width: 300px;
    height: 48px;
    line-height: 24px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    outline: none;
    color:#ffffff;
    font: 15px "Roboto Thin";
    background-color: #ff3945;
    padding: 1px 6px;
    margin-top: 14px;
    text-transform: uppercase;
    cursor: pointer;
}


/*sản phẩm tương tự*/
.sp{
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 40px;
}
.container--product{
    display: flex;
    /*width: 80%;*/
    margin-bottom: 40px;
    background-color: #fcfcfc;
    border-radius: 0px 0px 4px 4px;
    padding: 15px;
    /*margin-right: 10%;*/
    /*margin-left: 10%;*/
}
.slider--container{
    /*margin-left: 5%;*/
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    padding: 15px;
}

.product--item{
    float: left;
    width: 248px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px;
    margin: 10px;
    background-color: rgb(248, 248, 248);
}
.product--item:hover{
    box-shadow: 2px 0px 2px 0px #dedbdb;
    transition: 0.2s;
}
.product--item__picture{
    text-align: center;
    margin-bottom: 12px;
}
.picture__item{
    width: 248px;
    margin-top: -16px;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-self: stretch;
}
.Item__Review .Stars__Wrapper{
    margin-top: 4px;
    color: rgb(255, 193, 32);
}
.Item__Review .number{
    margin: -27px 0px 0px 94px;
    font-size: 12px;
    color: rgb(120, 120, 120);
}
.title1{
    margin-top: -10px;
    max-height: 40px;
    height: auto;
    padding-right: 132px;
}
.price{
    margin: 0px;
    padding: 8px 0px 0px;
    align-self: stretch;
    color: rgb(36, 36, 36);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
}
.price .percent{
    margin-left: 8px;
    color: rgb(120, 120, 120);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
}
.price .original{
    display: block;
    margin-left: 0px;
    color: rgb(120, 120, 120);
    font-size: 13px;
    font-weight: 300;
    text-decoration: line-through;
}


/*thông tin chi tiết*/


.container--details__group table{
    max-width: 100%;
    border-spacing: 0px;
    width: 100% !important;

}
.container--details__group table tr td:first-child{
    width: 220px;
    padding: 10px 15px;
    vertical-align: top;
    color: rgb(79, 79, 79);
    font-size: 13px;
    font-weight: 500;
    background: rgb(239, 239, 239);
}
.container--details__group table tr td:last-child{
    flex: 1 1 0%;
    border-right: 0px;
    padding: 10px 15px;
}
.container--details__group table tr td li{
    padding-bottom: 8px;
}

/*khach hàng nhận xét*/
.review--rating__heading{
    font-size: 25px;
    line-height: 32px;
    margin: 0px 0px 14px;
}
.review--rating__inner{
    display: flex;
}
.review--rating__summary{
    flex-basis: 144px;
    flex-shrink: 0;
    border-right: 1px solid rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.star--style{
    position: relative;
    z-index: 1;
}

.review-rating__total{
    margin: 4px 0px 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(120, 120, 120);
}

.review--rating__detail{
    padding: 0px 24px;
}
.review-rating__level{
    display: flex;
    margin: 4px 0px;
    -webkit-box-align: center;
    align-items: center;
}

.star--style i{
   width: 12px;
}
.style__Style{
    width: 166px;
    height: 6px;
    background-color: rgb(238, 238, 238);
    position: relative;
    z-index: 1;
    margin: 0px 12px;
    border-radius: 99em;
}
.style__Style div{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(120, 120, 120);
    border-radius: 99em;
}
.review-rating__number{
    font-size: 12px;
    line-height: 16px;
    color: rgb(120, 120, 120);
}

.content-filter{
    display: flex;
    padding: 20px 0px 8px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.content-filter .filter-review__label{
    flex-shrink: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0px 12px 0px 0px;
    padding: 7px 0px 0px;
}
.content-filter .filter-review__inner{
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}
.filter-review__inner .filter-review__item{
    font-size: 14px;
    line-height: 20px;
    padding: 10px 12px;
    border-radius: 20px;
    background: rgb(238, 238, 238);
    margin: 0px 12px 12px 0px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
}
.filter-review__star{
    font-size: 16px;
    color: rgb(199, 199, 199);
    margin: 0px 0px 0px 4px;
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    .brand-style {
        position: absolute;
        right: -8px;
        display: flex;
        top: 52%;
        transform: translate(100px, -50%);
    }

    .container-text header{
        width: 600px;
    }
}